<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720560667871-susenaa1jaq3r2ra1u1h1tkscu5os599.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720560667871-susenaa1jaq3r2ra1u1h1tkscu5os599</string>
	<key>API_KEY</key>
	<string>AIzaSyDOgDTMf9xBJMYqNISKplzVzGiORXZYeBY</string>
	<key>GCM_SENDER_ID</key>
	<string>720560667871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tr.gov.iski.devIstanbul</string>
	<key>PROJECT_ID</key>
	<string>ocr1-864e8</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr1-864e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720560667871:ios:33a0504e2f37d98a943d6a</string>
	<key>DATABASE_URL</key>
	<string>https://ocr1-864e8.firebaseio.com</string>
</dict>
</plist>